@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500&display=swap');

script{
  color: white;
}
.mouse-move{
    color: white;
    font-family: 'Raleway','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    display: flex;
    top: 35%;
    left: 30%;
    /* z-index: 2000; */
  }
  .mouse-move h2{
    font-weight: 100;
    font-size: 3em;
  }
  .mouse-move h1{
    font-weight: 900;
    font-size: 4em;
  }
  .right{
    width: 50%;
  }
  .right p{
    font-size: 1em;
  }
@media (max-width: 500px) {
      .parallax{
        overflow-y: hidden;
      }
      .mouse-move {
        top: 25%;
        left: 15%;
      }
      .mouse-move h1{
        font-size: 2em;
      }
      .mouse-move h2{
        font-size: 2em;
      }
      .right{
        margin: auto;
      }
      .right p{
        font-size: 0.7em;
      }
      .zoom{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/hero.png');
        
        background-color: #005567;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40vh;
        background-position: center;
      }
      .left-img{
        display: none;
    }
    .right-img{
        display: none;
    }
    .text-img{
        display: none;
    }
}
@media (min-width: 500px) and (max-width: 750px) {
  .zoom img{
    visibility: hidden;
  }
    .mouse-move {
      top: 38%;
      left: 18%;
    }
    .mouse-move h1{
      font-size: 2.8em;
    }
    .mouse-move h2{
      font-size: 2.8em;
    }
    .right{
      margin: auto;
    }
    .right p{
      font-size: 1em;
    }
    .zoom{
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/hero.png');
      
      background-size: cover;
      background-position: 80% center;
      background-repeat: no-repeat;
      height: 70vh;
    }
    .left-img{
      display: none;
  }
  .right-img{
     
      display: none;
  }
  .text-img{
     
      display: none;
  }
  }
  
  @media (min-width: 750px) and (max-width: 1000px) {
    
      .mouse-move {
        top: 40%;
        left: 20%;
      }
      .mouse-move h1{
        font-size: 3.5em;
      }
      .mouse-move h2{
        font-size: 3.5em;
      }
      .right{
        margin: auto;
      }
      .right p{
        font-size: 1.2em;
      }
      .zoom{
        background-attachment: fixed;
        
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/hero.png');
        
        background-color: #005567;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 75vh;
        background-position: center;
      }
      .left-img{
       
        display: none;
       
    }
    .right-img{
        
        display: none;
    }
    .text-img{
    
        display: none;
    }
  }
  
  @media (min-width: 1000px) and (max-width: 1250px) {
    
      .mouse-move {
        top: 45%;
        left: 23%;
        z-index: 2000;
      }
      .mouse-move h1{
        font-size: 3.8em;
      }
      .mouse-move h2{
        font-size: 3.4em;
      }
      .right{
        margin: auto;
      }
      .right p{
        font-size: 1.4em;
        font-weight: 300;
      }
      .zoom{
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/hero.png');
      
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 90vh;
        background-position: center;
    }
    .left-img{
      display: none;
  }
  .right-img{
      display: none;
  }
  .text-img{
      display: none;
  }
  }
  
  @media (min-width: 1250px) {
    .mouse-move {
      top: 40%;
      z-index: 2000;
    }
    .right{
      margin: auto;
    }
    .mouse-move h2{
      font-weight: 100;
      font-size: 3.4em;
    }
    .mouse-move h1{
      font-weight: 900;
      font-size: 3.4em;
    }
    .right{
      width: 50%;
    }
    .right p{
      font-size: 1.3em;
    }
    .zoom{
      width: 100%;
      height: 120vh;
      position: relative;
      z-index: 1000;
      overflow: hidden;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../images/hero.png');
      object-fit: cover;
      background-size: cover;
      transition: 2s;
  }
  .left-img{
    position: absolute;
    transform: translate(-60%,7%);
    top: 0;
    left: 50%;
    z-index: 100;
}
.right-img{
    position: absolute;
    z-index: 100;
    transform: translate(3%,8%);
}
.text-img{
    position: absolute;
    transform: translateY(70%);
    transform: translateZ(60%);
}
  }
  @media(max-width:1150px) {
    .zoom img{
      visibility: hidden;
    }
  }